@font-face {
  font-family: 'DBHelvethaica';
  src: url('/static/fonts/db-helvethaica-webfont.woff2') format('woff2'),
    url('/static/fonts/db_helvethaica_x_v3.2_1-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DBHelvethaica';
  src: url('/static/fonts/db_helvethaica_x_med_v3.2_2-webfont.woff2') format('woff2'),
    url('/static/fonts/db_helvethaica_x_med_v3.2_2-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DBHelvethaica-Li';
  src: url('/static/fonts/db_helvethaica_x_li_v3.2_1-webfont.woff2') format('woff2'),
    url('/static/fonts/db_helvethaica_x_li_v3.2_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RibeyeMarrow';
  src: url('/static/fonts/RibeyeMarrow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ribeye';
  src: url('/static/fonts/Ribeye-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
