.placeholder {
  height: 3em;
  position: relative;
  background-color: #fff;
  border-color: #feb72b;
  color: #000;
  border-radius: 53px;
  padding: 3em;
  line-height: 28px;
  min-width: 10rem;
  width: 20em;
}

.placeholder::after {
  position: absolute;
  left: 10px;
  top: 2px;
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.7;
}
