.hintBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 300px;
  height: 200px;
}

.content {
  flex: 1;
  width: 30%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.modalItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ModalHeader {
  font-family: 'Ribeye';
  font-size: 24px;
}
.inputBox {
  margin-top: 2rem;
}
.icon {
  margin-top: 2px;
}
