.meanBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.content {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modalItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ModalHeader {
  font-family: 'Ribeye';
  font-size: 24px;
}
.inputBox {
  display: flex;
  align-items: center;
}
.icon {
  margin-top: 2px;
}
