.cardScore {
  display: flex;
  flex-direction: column;
  font-family: Ribeye;
  width: 480px;
  background-color: #fff;
  border-radius: 15px;
}

.scoreHeader {
  text-align: center;
  padding: 10px;
}

.scoreHeader .headerText {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}

.scoreStars {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

.scoreStars .star {
  padding: 10px;
  width: 85px;
  height: 85px;
}

.scoreStars .starCenter {
  padding: 10px;
  width: 105px;
  height: 105px;
}

.scoreContent {
  display: flex;
  flex-direction: column;
  margin: 30px;
  border-radius: 10px;
  background-color: #fffbd2;
  padding: 15px 0;
}

.scoreContent .scoreRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 0;
}

.scoreContent .scoreRow .rowText,
.scoreContent .scoreRow .rowScore {
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.scoreButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.scoreButton .button {
  outline: none;
  background: #feb72b;
  border-radius: 30px;
  border-width: 0;
  padding: 10px 30px;
  margin: 0;
  cursor: pointer;
}

.scoreButton .button:hover,
.scoreButton .button:focus {
  background-color: #f68500;
  color: #fff;
}
