.header {
  font-family: 'RibeyeMarrow';
  font-size: 48px;
}
.boxHeader {
  font-family: 'Ribeye';
  font-size: 16px;
}
.word {
  text-transform: capitalize;
}
.mainbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.vocabBox {
  border: #feb72b solid;
  border-radius: 30px;
  background-color: beige;
  width: 500px;
  height: 500px;
  margin-left: 3rem;
  padding-left: 4rem;
}
.vocabTitle {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-around;
}
.vocabBody {
  margin-left: 1rem 2rem;
  /* display: flex;
  justify-content: space-around; */
}
