.meanBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15rem;
}

.content {
  flex: 1;
  flex-direction: row;
  align-items: center;
  border-radius: 53px;
  background: #fff;
  height: 20vh;
  margin: 30px;
  padding: 30px;
  font-size: 18px;
  text-align: center;
}

.modalItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ModalHeader {
  font-family: 'Ribeye';
  font-size: 24px;
}
.inputBox {
  margin-top: 2rem;
}
.icon {
  margin-top: 2px;
}

.summary {
  align-items: center;
}

.hintBox {
  flex: 1;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  height: 20vh;
  margin: 30px;
  padding: 10px 30px;
  font-size: 18px;
  text-align: center;
}
