.header {
  font-family: 'RibeyeMarrow';
  font-size: 48px;
}
.mainbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.vocabBox {
  border: #feb72b solid;
  border-radius: 30px;
  background-color: beige;
  width: 500px;
  height: 500px;
  margin-right: 3rem;
  overflow: scroll;
}
.vocabTitle {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-around;
}
.vocabBody {
  /* margin-left: 1rem 2rem; */
  /* display: flex; */
  justify-content: space-around;
  display: block;
  justify-content: space-around;
  margin: 0 2rem;
}
.vocabChoosingbox {
  border: #feb72b solid;
  border-radius: 30px;
  background-color: beige;
  width: 200px;
  height: 500px;
}

.filterBox {
  margin: 2rem 0;
}

.vocabItem:hover {
  background-color: #f3c56a;
  border-radius: 30px;
  cursor: pointer;
}